.courseSearchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* SEARCH  */
.searchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	width: 100%;
}

.searchContainer input{
	max-width: 500px;
	width: 95%;
	padding: 12px 14px;
	font-size: 18px;
	color: white;
	background: rgb(42, 42, 42);
	outline: none;
	border: none;
	border-radius: 14px;
	margin: 5px 0px;
}
.searchContainer p{
	font-size: 16px;
	color: rgb(141, 141, 141);
}
.searchContainer span{
	font-size: 16px;
	color: rgb(243, 81, 4);
}

/* DISPLAY COURSES */
.courseContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px 0px;
	width: 100%;
	margin: 30px 0px 10px 0px;
}
.courseContainer p{
	color: rgb(183, 183, 183);
	font-size: 20px;
}

/* COURSE CARD */
.courseCard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px 0px;
	color: white;
	width: 95%;
	max-width: 700px;
	border: 2px solid  rgb(42, 42, 42);
	border-radius: 15px;
	padding: 20px 20px;
	cursor: pointer;
}
.courseCard:hover{
 background:  rgb(42, 42, 42);
}

.courseHeader{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px 5px;
}
.courseHeader h3{
	color: rgb(255, 255, 255);
	font-size: 20px;
}

.courseCard p{
	color: rgb(203, 203, 203);
}

.courseBody{
	display: flex;
}
.courseBody p{
	color: rgb(189, 189, 189);
}