.courseSearchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* SEARCH  */
.searchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	width: 100%;
}

.searchContainer input{
	max-width: 500px;
	width: 95%;
	padding: 12px 14px;
	font-size: 18px;
	color: white;
	background: rgb(42, 42, 42);
	outline: none;
	border: none;
	border-radius: 14px;
	margin: 5px 0px;
}
.searchContainer p{
	font-size: 16px;
	color: rgb(141, 141, 141);
}
.searchContainer span{
	font-size: 16px;
	color: rgb(243, 81, 4);
}

/* DISPLAY COURSES */
.courseContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.courseContainer p{
	color: rgb(255 , 255, 255);
}